#!/usr/bin/env python
PACKAGE = "ros_camera_challenge"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

resolution_enum = gen.enum([ gen.const("VGA",    int_t, 0, "A VGA resolution"),
                             gen.const("HD",     int_t, 1, "A HD resolution"),
                             gen.const("FullHD", int_t, 2, "A FullHD resolution")],
                             "An enum to set imageMode")

gen.add("resolution", int_t, 0, "A imageMode parameter which is edited via an enum", 1, 0, 2, edit_method=resolution_enum)
#-------------------------------------------------------------------------------------------------------------------------

depth_mode_enum = gen.enum([ gen.const("Auto",   int_t, 0, "A auto depth mode"),
                             gen.const("Manual", int_t, 1, "A manual depth mode")],
                             "An enum to set depth_mode")

gen.add("depth_mode", int_t, 0, "A Depth_mode parameter which is edited via an enum", 1, 0, 1, edit_method=depth_mode_enum)
#-------------------------------------------------------------------------------------------------------------------------

codec_mode_enum = gen.enum([ gen.const("H263",     int_t, 0, "A H.263 codec mode"),
                             gen.const("H264AVC",  int_t, 1, "A H.264 AVC codec mode"),
                             gen.const("MPEG4SP",  int_t, 2, "A MPEG-4 SP codec mode"),
                             gen.const("FLAC",     int_t, 3, "A FLAC codec mode")],
                             "An enum to set codec_mode")

gen.add("codec", int_t, 0, "A Depth_mode parameter which is edited via an enum", 1, 0, 3, edit_method=codec_mode_enum)
#-------------------------------------------------------------------------------------------------------------------------

gen.add("contrast",       int_t,    0, "Set contrast ", 50,  0, 100)
gen.add("brightness",     int_t,    0, "Set brightness ", 50,  0, 100)
gen.add("rotation",       int_t,    0, "set rotation", 0,  0, 100)

gen.add("rescale_height", int_t,    0, "set rescale_height", 480,  0, 768)
gen.add("rescale_width",  int_t,    0, "set rescale_width", 640,  0, 1024)

gen.add("crop_height",    int_t,    0, "set crop_height", 0,  0, 100)
gen.add("crop_width",     int_t,    0, "set crop_width", 0,  0, 100)

exit(gen.generate(PACKAGE, "ros_camera_challenge", "Interface"))

#rosrun rqt_reconfigure rqt_reconfigure
